.item {
    display: inline;
    margin-left: 30px;
}

.help {
    opacity: 0.4;
    color: #1b1c1e;
    font-family: Lato-Bold;
    font-size: 16px;
    font-weight: 400;
}

.contacts {
    color: #26272d;
    font-family: Lato-Bold;
    font-size: 16px;
    font-weight: 400;
}

.getApp {
    border-radius: 21px;
    background-color: #267df4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    color: #ffffff;
    font-family: Lato-Bold;
    font-size: 16px;
    font-weight: 400;
}

.appleIcon {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 17px;
}
