.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.header {
    margin-top: 89px;
    color: #26292c;
    font-family: "Varela-Round";
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
}

.inputWrapper {
    width: 502px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(22, 23, 28, 0.2);
    margin: 45px auto;
    color: white;

}

.inputWrapper .inputText {
    margin-left: 20px;
    line-height: 48px;

    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
}


.inputWrapper .inputSubmit:focus {
    outline: none;

}

.inputSubmit .arrow {
    padding-left: 10px;
}

.spam {
    color: #8c8f94;
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 80px;
}