.wrapper {
    width: 800px;
    margin: 75px auto;
    text-align: center;
}

.wrapper .header {
    color: #26272d;
    font-family: "Varela-Round";
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 40px;

}

.wrapper .text {
    color: #8c8f94;
    font-family: Lato-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

