.headerText {
    width: 800px;
    margin: 75px auto;
    text-align: center;
}

h6 {
    color: #8c8f94;
    font-family: Lato-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

h1 {
    color: #26272d;
    font-family: "Varela-Round";
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;

}
