.header {
    background-image: url("../../assets/background.png");
    position: relative;
    height: 1000px;
    overflow: hidden;
    background-size: cover;
}

.header .iphone {
    z-index: 1;
    position: absolute;
    bottom: -298px;
    left: 617px;
    width: 369px;
}