.wrapper{
height: 550px
}
.linksWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 217px;
    margin-top:  90px;
}
.companyName {
    margin-bottom: 37px;
    color: red;
}
.social .text {
    color: #8c8f94;
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 34px;
    width: 245px;
}

.appleStoreBtn {
    width: 210px;
    height: 60px;
    border-radius: 9px;
    background-color: #131315;
    color: white;
    font-family: Lato-Regular;
    font-size: 12px;
    font-weight: 400;

    margin-bottom: 34px;

}
.appleStoreBtn .download {
    /* Text style for "D, o, w, n" */
}
.appleStoreBtn .appStore {
    font-size: 22px;

}
.appleStoreBtn .appleIcon {
    font-size: 30px;
    float: left;
    padding-left: 26px;
    padding-top: 11px;
    padding-right: 20px;
}
.appleStoreBtn .textWrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.iconsWrapper {
    margin-bottom: 130px;
}
.iconsWrapper .icon {
    width: 17px;
    height: 14px;
   color: #26272d;
    opacity: 0.3;
    margin-right: 28px;
}
.linksWrapper .item {
    color: #8c8f94;
    font-family: Lato-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}
.linksWrapper .header {
    color: #26272d;
    font-size: 12px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.learnMore {
    margin-right: 112px;
}
.aboutUs {
    margin-right: 112px;
}
.social {
    margin-right: 355px;
}
.footer {
    display: flex;
    align-items: center;
    margin-top: 39px;
}
.seeMore {
    font-family: Lato-Bold;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /*margin-right: 1000px;*/
    color: #8c8f94;
    margin-right: 750px;
    margin-left: 219px;
    width: 300px;
}
.seeMore a {
    text-decoration: underline;
    color: #3b55e6;

}
.madeWithLove {
height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.madeWithLove .loveLogo {
    padding-left: 10px;
}
.madeWithLove .text {
    color: #26272d;
    font-size: 9px;
    font-weight: 700;

    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "M, ade wit" */
    letter-spacing: 0.9px;
}