.wrapper{
height: 550px
}

.companyName {
    margin-bottom: 37px;
    color: red;
}


.learnMore {
    margin-right: 112px;
}
.aboutUs {
    margin-right: 112px;
}
.social {
    margin-right: 355px;
}
.item {
    color: #8c8f94;
    font-family: Lato-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}
.header {
    color: #26272d;
    font-size: 12px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}