
.appleStoreBtn {
    width: 210px;
    height: 60px;
    border-radius: 30px;
    background-color: #131315;
    color: white;
    font-family: Lato-Regular;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;

}
.appleStoreBtn .download {
    /* Text style for "D, o, w, n" */
}
.appleStoreBtn .appStore {
    font-size: 22px;

}
.appleStoreBtn .appleIcon {
    font-size: 30px;
    float: left;
    padding-left: 26px;
    padding-top: 11px;
    padding-right: 20px;
}
.appleStoreBtn .textWrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
